/*display flex alinha os itens lado a lado*/
#page-landing {

    background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%) no-repeat;
    display: flex;
    min-height: 100vh;
    text-align: center;
 }

 #container {
     margin: auto;
     width: 90%;
 }
.location, h1, .visit p {
    height: 16vh;

}

.visit a {
    align-items: center;
    background: #ffd666;
    border:none;
    border-radius: 3rem;
    display: flex;
    height: 8rem;
    justify-content: center;
    margin: 0 auto;
    transition: background 200ms;
    width: 8rem;
}   

.visit a:hover {
    background: #96feff;
}